<!DOCTYPE html>
{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Math Quiz App!</h1>
    <div id="options">
        <a href="/add/">Add a question</a>
        <a href="/quiz/">Take a quiz</a>

    </div>
    <div id="questions">
        <table>
            {% for quest in q %}
            <tr>
                <td class="cntnt">{{quest.content}}</td>
                <!--<td>{{quest.date_created.date()}}</td>-->
                <td class="A">{{quest.ansA}}</td>
                <td class="B">{{quest.ansB}}</td>
                <td class="C">{{quest.ansC}}</td>
                <td class="D">{{quest.ansD}}</td>
                <!--<td>{{quest.cor}}</td>-->
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}